.profile__avatar-edit {
    width: 26px;
    height: 26px;
    padding: 47px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}