.photo-cards__like-amount {
    max-width: 10px;
    max-height: 13px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin: 0 27px 22px auto;
    padding: 0;
}