.profile__about {
  max-width: 336px;
  max-height: fit-content;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  margin: 0;
  padding: 12px 0 0 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width:940px) {
  .profile__about {
    align-self: center;
  }
}

@media screen and (max-width:480px) {
  .profile__about {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding: 14px 0 0 0;
    max-width: 282px;
  }
}