.footer__copyright {
  padding: 67px 0 60px 0;
  max-width: 318px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width:320px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
    padding: 48px 0 36px 0;
    max-width: 282px;
  }
}