.form__item-error {
    overflow: hidden;
    width: 358px;
    height: fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #FF0000;
    position: absolute;
    left: 0;
    top: 32px;
    margin-bottom: 13px;
}

.form__item-error:nth-of-type(2) {
    left: 36px;
    top: 200px;
}

@media screen and (max-width:550px) {
    .form__item-error {
        width: 238px;
    }
}