.popup__main-text {
    width: 358px;
    height: 23px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 34px auto 38px auto;
    padding: 0;
}