.header__exit {
    width: 56px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 51px 0 46px 0;
    color: #A9A9A9;
    text-decoration: none;
}