.auth__form-button {
  width: 358px;
  height: 50px;
  background: #ffffff;
  border-radius: 2px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
  cursor: pointer;
  padding: 0;
  margin-top: 186px;
}

@media screen and (max-width: 400px) {
  .auth__form-button {
    width: 260px;
    height: 46px;
    font-size: 16px;
    line-height: 19px;
    margin-top: 143px;
  }
}
