.registration__form-input {
    width: 358px;
    border: none;
    border-bottom: 2px solid #CCCCCC;
    background-color: black;
    color: white;
}

.registration__form-input::placeholder {
    width: 358px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CCCCCC;
    margin: 0 0 13px 0;
}

.registration__form-input:nth-of-type(1) {
    margin: 0 0 30px 0;
}

.registration__form-input:nth-of-type(2) {
    margin: 0 0 216px 0;
}